/* background-color, #2f6, !important;
color: #000 !important; */

body {
    background-image: url('/portfolio/MilkMeme.png') !important;
    background-size:contain;
    background-color: #f0f;
}

h1, h2 {
    color:#248 !important;

    background-image: url('/portfolio/MilkMeme.png') !important;
    background-position: center;
    background-size: cover;
}
 .banana{
     color:#cc0 !important;

 }
.text-color-primary {
    color: #248 !important; 
}

span {
    color: #FF0 !important; 
}

a.button-dark {
    background-color: #639 !important; 
}

a svg path {
    fill: #F00; 
}

.easter-egg-blueberry{
    height:100vh;
    width:50rem;
    color:#248;
    background-color: #797;

    border: 50px solid#777
}

.inner-blueberry{
    background-color:#779
}
.the-other-div-within-the-div{
    background-color: #977;
}
.navigation{
    background-color:#246
}
.img-smol-pupper{
    height: 259px;
    width:auto;

    background-repeat: no-repeat ;
    background-image: url('/portfolio/images/Smol Pupper.jpg')
}